.prime-slider {
  padding: 110px 0 95px;

  .owl-prime {
    padding-top: 60px;
  }
}

.owl-theme.owl-prime {
  .owl {
    &-item {
      width: 100%;
      height: 350px;

      .item {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-nav {
      .owl-prev, .owl-next {
        width: 42px;
        height: 42px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--light);
        border-radius: 42px;
        top: 45%;
        position: absolute;
        transition: .2s;

        &:focus {
          outline: none;
        }

        &:hover {
          background: var(--lighter);
        }

        .owl-nav-icon {
          width: 38px;
          height: 38px;
          margin: 0;
          padding: 0;
          padding-top: 8px;
          position: absolute;
          font-size: 18px;
          color: var(--blue);
          background: transparent;
          border: 1px solid var(--lighter);
          border-radius: 42px;
        }
      }

      .owl-prev {
        left: -25px;
      }

      .owl-next {
        right: -25px;
      }
    }

    &-dots {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      .owl-dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 1px solid var(--blue);
        border-radius: 10px;
        opacity: .5;
        transition: .1s;

        &:focus {
          outline: none;
        }

        &:hover {
          span {
            width: 8px;
            height: 8px;
            background: var(--blue);
          }
        }

        &.active {
          opacity: 1;

          span {
            background: var(--blue);
          }
        }

        span {
          position: absolute;
          width: 4px;
          height: 4px;
          margin: 0;
          background: var(--white);
          transition: .1s;
        }
      }
    }
  }
}
